@import url(fontawesome-all.min.css);


html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: clamp(40px, 5vw, 70px);
}

main {
	font-family: 'Roboto', sans-serif;
}

.landing {
	min-height: 100vh;
	background: url(/images/moon.jpg);
	background-size: cover;
	background-position-x: center;
	padding: 0rem 5rem;
	color: whitesmoke;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 10vh;
}
.nav-links {
	display: flex;
	list-style: none;
}
a:visited {
	color: whitesmoke;
	text-decoration: none;
}
a:link {
	color: whitesmoke;
	text-decoration: none;
}
a:visited {
	color: whitesmoke;
	text-decoration: none;
}
a:visited {
	color: whitesmoke;
	text-decoration: none;
}
li {
	padding-left: 5rem;
}
#logo {
	height: 10vh;
}
.big-text {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -30%);
	height: clamp(0rem, 80vh, 10rem);
}

.intro{
	background: rgb(0, 0, 0);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro-text {
	color: whitesmoke;
}

.slider{
	background: rgb(10, 10, 10);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
}

.hide {
	background: rgb(0, 0, 0);
	overflow: hidden;
}
.hide span {
	transform: translateY(100%);
	display: inline-block;
}

button {
	background: black;
	border: none;
	color: whitesmoke;
	padding: .5em 1em;
	font-size: 1.3em;
	cursor: pointer;	
}
.overlay {
	clip-path: circle(10%);
	position: fixed;
	background: rgba(0, 0, 0, 0.781);
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	


}
.exit {
	position: absolute;
	right: 2em;
	top: 2em;
}
.menu {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

}

.menu ul {
	list-style-type: none;

}

.menu-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.menu ul li a {
	text-decoration: none;
	color: whitesmoke;
	display: block;
	padding: .8em 2em .8em 1em;
	font-size: 1.5em;
	

}

.menu ul li a:hover {
	background: rgba(20, 20, 20, 0.4884);
	border-radius: 1.2m
}

p.category {
	font-size: 1.8em;
	font-weight: bold;
	color: whitesmoke;
	
}

.exit img {
	width: 23px;
	height: 23px;
}